/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black; /* black background */
  color: white;             /* default text color */
  font-family: Arial, sans-serif;
}
