/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: white;
}
a {
  text-decoration: none;
}
